<body>
  <% if flash[:notice] %> 
        <div class="flash">
          <p class="show-text"><%= flash[:notice] %></p>
        </div>
  <% end %>


  <p class="show-text"><strong>Title: </strong><%= @book.title %></p>

  <p class="show-text"><strong>Body: </strong><%= @book.body %></p></br>

  <%= link_to "Edit", edit_book_path(@book.id) %> |
  <%= link_to'Back',books_path %>
</body>